
.HistoryList-container {
  margin: 8px;
  border: 1px solid #D2D2D2;
  background: #FFF;
}

.HistoryList-header {
  position: relative;
}

.HistoryList-clear{
  position: absolute;
  right: 10px;
  top: -11px;
}
